
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.blogs-container, .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.post {
    margin-bottom: 40px;
}
.post h2 {
    color: #333;
}
.post p {
    line-height: 1.6;
}
.post .meta {
    color: #777;
    font-size: 0.8em;
}

.content{
    margin: 5px;
    margin-top: 20px;
}

textarea {
    width: 50%;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin: 0;
}


.comment-submission textarea, button{
    margin-left: 325px;
}

.comment{
    width: 50%;
    height: max-content;
    padding: 1px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    margin-left: 325px; 
    margin-bottom: 10px;
}

.commenter-name{
    font-weight: 700;
}

.comment-date{
    font-size: small;
    color: gray;
}

.button-container{
    display: flex;
    padding: 2px;
    margin: auto;
}

.btn{
    margin: 2px;
}

.delete{
    color: white;
    background-color: rgb(255, 86, 86);
}

.submit{
    color: white;
    background-color: #0190DB;
}
