.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 3%;
  }

.home-container h2{
  margin-top: 3%;
  margin-bottom: 3%;
}
  
  .home-nav {
    width: 800px;
    height: 150px;
    margin-bottom: 10px;
    background-color: white;
    border-color: #033C5A;;
    border-radius: 5px;
    font-size: 20px;
  }

  .home-nav:hover{
    transition: all ease-in-out 250ms;
    background-color: #F9E08E;
    border-color: #F9E08E;
  }