#register-container, #login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#register-form, #login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#register-form h1, #login-form h1 {
    text-align: center;
}
#register-form label, #login-form label {
    display: block;
    margin-bottom: 5px;
}
#register-form input[type="text"],
#register-form input[type="password"], #login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.toggle-button, #password-toggle {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
#register-form button[type="submit"], #login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0190DB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
