body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Add this line to eliminate default body margin */
}

#wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #033C5A;
}

#navbar {
  float: left;
  padding: 0px;
  margin: 0; /* Add this line to eliminate margin */
}
#navbar > a {
  margin-right: 0px;
  margin-left: 0px;
}

#account {

  top: 0;
  right: 0;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: pink; /* Move background color styling from .nav-button to .dropbtn */
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #033C5A;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #0190DB;}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-button{
  color: white;
  background-color: #033C5A;
  padding: 16px;
  font-size: 16px;
}

.nav-button:hover{
  background-color: #0190DB;
}

button{
  cursor: pointer;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

a{
  text-decoration: none;
}
